# REGISTRY CONFIGURATION
# Define the directory for the local model registry
LOCAL_REGISTRY_DIR=path/to/your/local/registry

# Google Cloud Storage
GCS_REGISTRY_BUCKET_NAME=my_bucket_name

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
